day1/input.txt
day1/sample.txt
day10/input.txt
day10/sample.txt
day11/input.txt
day11/sample.txt
day12/input.txt
day12/sample.txt
day13/input.txt
day13/sample.txt
day14/input.txt
day14/sample.txt
day15/input.txt
day15/sample.txt
day16/input.txt
day16/sample.txt
day17/input.txt
day17/sample.txt
day18/input.txt
day18/sample.txt
day19/input.txt
day19/sample.txt
day2/input.txt
day2/sample.txt
day20/input.txt
day20/sample.txt
day21/input.txt
day21/sample.txt
day22/input.txt
day22/sample.txt
day23/input.txt
day23/sample.txt
day24/input.txt
day24/sample.txt
day25/input.txt
day25/sample.txt
day3/input.txt
day3/sample.txt
day4/input.txt
day4/sample.txt
day5/input.txt
day5/sample.txt
day6/input.txt
day6/sample.txt
day7/input.txt
day7/sample.txt
day8/input.txt
day8/sample.txt
day9/input.txt
day9/sample.txt
aoc2022.exe
go.sum
main.exe
